<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Your Chat</title>
    </head>
    <body>
        <h3>Edit Your Chat : <%= chat._id %></h3>
        <p>This chat was sent from : <b><%= chat.from %></b> to <b><%= chat.to %></b> </p>

        <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
            <textarea name="msg" rows="6" cols="40"> <%= chat.msg %> </textarea> <br><br>
            <button>Edit</button>
        </form>
    </body>
</html>