<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini WhatsApp</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h3>All Chats!</h3>

        <form method="GET" action="/chats/new">
            <button>New Chat</button>
        </form>
        <br>

        <% for(chat of chats){ %>
            <div class="chat">
                <p>From: <i><%= chat.from %></i></p>
                <div class="msg">
                    <p><%= chat.msg %></p>
                    <form method="GET" action="chats/<%=chat._id%>/edit">
                        <button>Edit</button>
                    </form>
                    <br>
                    <form method="POST" action="chats/<%=chat._id%>?_method=DELETE">
                        <button>Delete</button>
                    </form>
                </div>
                <p>Recieved By <i><%= chat.to %></i></p>
                <hr>
                <div class="times">
                    <div class="created">
                        <p>Created At:</p>
                        <p><%= chat.created_at.toString().split(" ")[4] %></p>
                        <p><%= chat.created_at.toString().split(" ").slice(0, 4).join("-") %></p>
                    </div>
                     <div class="updated">
                        <p>Updated At:</p>
                        <p><%= chat.updated_at.toString().split(" ")[4] %></p>
                        <p><%= chat.updated_at.toString().split(" ").slice(0, 4).join("-") %></p>
                     </div>
                </div>      
            </div>
            <br><br>
        <% } %>
    </body>
</html>